# voms2htpasswd.conf - Sample Config File for voms2htpasswd command
# The voms2htpasswd command creates .htpasswd file suitable for
# mod_ssl's fake basic auth
# For more information use the voms2htpasswd --help option

vomss://voms.cern.ch:8443/voms/ops?/ops/
vomss://voms.cern.ch:8443/voms/atlas?/atlas/
vomss://voms.cern.ch:8443/voms/alice?/alice/
vomss://voms.cern.ch:8443/voms/cms?/cms/
vomss://voms.cern.ch:8443/voms/lhcb?/lhcb/
vomss://voms.cern.ch:8443/voms/dteam?/dteam/

# And some more complicated ones that specify groups
# and roles.
vomss://voms.cern.ch:8443/voms/atlas?/atlas/usatlas/Role=production
vomss://voms.cern.ch:8443/voms/ops?/ops/
vomss://glite-io.scai.fraunhofer.de:8443/voms/dech?/dech

# GOCDB lines
gocdb://goc.gridops.org/gocdbpi/private/?method=get_roc_contacts&roc=CentralEurope
gocdb://goc.gridops.org/gocdbpi/private/?method=get_site_contacts&roc=CentralEurope
https://goc.gridops.org/gocdbpi/private/?method=get_site_contacts&sitename=CERN-PROD

